.outputScreen {
  border: 1px black solid;
  margin: 2px 2px 10px 0px;
  width: 100px;
  height: 42px;
  padding: 4px;
  text-align: right;
  border-radius: 5px;
}

.topScreen {
  font-size: 14px;
}

.mainScreen {
  font-size: 20px;
  font-weight: bold;
}